
.body{

	/*font-family: 'Libre Baskerville', serif;*/
	font-family: 'Courgette', cursive;
	width: 80%;
	margin-left: 10%;
	background-color: #9200FB; 
	color: #000000;
}
.p1{
	font-size: 60px;
}


.fs-4{
	color: #000000;
}




 @media (max-width: 900px) {
  .p1 {font-size: 30px;}
}
 @media (max-width: 500px) {
  .p1 {font-size: 20px;}
}
 @media (max-width: 900px) {
  .p2 {font-size: 20px;}
}
 @media (max-width: 700px) {
  .p2 {font-size: 15px;}
}
 @media (max-width: 500px) {
  .p2 {font-size: 10px;}
}
 @media (max-width: 900px) {
  .p4 {font-size: 20px;}
}
 @media (max-width: 500px) {
  .p4 {font-size: 15px;}
}









@media (max-width: 900px) {
  .nav-item {font-size: 10px;}
}





.nav-link{
	color: #FFC80B;
}

.img_me{
	width: 70%;
}


.footer {
	width: 80%; 
    height: 100px; 
    position: absolute; 
    
    
   
   }

.a{
	 text-decoration: none; 
}

.form{
	width: 80%;
	margin-left: 10%;
}

.sub{
	margin-left: 10%;
}